  <!-- Modal restauration achat -->
  <div class="modal fade" id="restoreAchatModal{{ achat.id }}" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
      <form method="post" action="{% url 'achat_restore' achat.id %}">
        {% csrf_token %}
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Restaurer l'achat</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
          </div>
          <div class="modal-body">
            <p>Veuillez confirmer la restauration de l'achat du <strong>{{ achat.date|date:"d/m/Y" }}</strong> (Facture {{ achat.num_facture|default:"-" }}) </p>
            <div class="mt-3">
              <label for="password" class="form-label fw-bold">Mot de passe :</label>
              <input type="password" class="form-control" name="password" required placeholder="Confirmez avec votre mot de passe">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
            <button type="submit" class="btn btn-success">Restaurer</button>
          </div>
        </div>
      </form>
    </div>
  </div>
