<!-- Modal restauration commande -->
<div class="modal fade" id="restoreCommandeModal{{ commande.id }}" tabindex="-1" aria-labelledby="restoreCommandeLabel{{ commande.id }}" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form method="post" action="{% url 'commande_restore' commande.id %}">
        {% csrf_token %}
        <div class="modal-header">
          <h5 class="modal-title">Restaurer la commande </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
        </div>
        <div class="modal-body">
          <p>Veuillez confirmer la restauration de la commande relative à la facture <strong>{{ commande.numero_facture }}</strong></p>
          <div class="mb-3">
            <label for="password{{ commande.id }}" class="form-label fw-bold">Mot de passe :</label>
            <input type="password" name="password" id="password{{ commande.id }}" class="form-control" placeholder="Entrez votre mot de passe pour confirmer" required>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
          <button type="submit" class="btn btn-success">Restaurer</button>
        </div>
      </form>
    </div>
  </div>
</div>
