{% extends "base.html" %}
{% load nombre %}

{% block title %}Compte de Résultat{% endblock %}

{% block content %}
<div class="container mb-2 mt-4">
    <h2 class="text-center mb-4">Compte de Résultat</h2>
    <table class="table table-bordered table-striped align-middle">
        <thead class="table-success">
            <tr>
                <th class="border px-4 py-2">N°</th>
                <th class="text-left">Rubrique</th>
                <th class="text-center">Montant</th>
            </tr>
        </thead>
        <tbody>
            {% for ligne in compte_resultat %}
                <tr class="{% if ligne.is_total %}fw-bold{% endif %}">
                    <td class="text-center">{{ ligne.num }}</td>
                    <td class="border px-4 py-2">{{ ligne.rubrique }}</td>
                    <td class="text-end">
                        {% if ligne.montant == "-" %}
                            -
                        {% else %}
                            {{ ligne.montant|intpoint }}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
