{% load nombre %}
<div class="container mb-2 px-0">
  <h3 class="mb-3">Compte de Résultat</h3>
  <div class="table-responsive">
    <table class="table table-bordered table-striped align-middle">
      <thead class="table-success">
        <tr>
          <th style="width:80px" class="text-center">N°</th>
          <th>Rubrique</th>
          <th class="text-end">Montant</th>
        </tr>
      </thead>
      <tbody>
        {% for ligne in compte_resultat %}
          <tr class="{% if ligne.is_total %}fw-bold{% endif %}">
            <td class="text-center">{{ ligne.num }}</td>
            <td>{{ ligne.rubrique }}</td>
            <td class="text-end">
              {% if ligne.montant == "-" %}-{% else %}{{ ligne.montant|intpoint }}{% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
